#userList::-webkit-scrollbar {
  width: 0.25rem;
  margin-left: 1rem;
}

#userList::-webkit-scrollbar-track {
  background: transparent;
}

#userList::-webkit-scrollbar-thumb {
  background: #00000036;
  border-radius: 10px;
}
