.settings-section {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: white;
  width: 960px;
}
.main-section {
  display: flex;
  flex-direction: column;
}

/* Adjustments for tablets */
@media (max-width: 768px) {
  .settings-section {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    width: 90%; /* Adjust width for smaller devices */
  }
}

/* Adjustments for mobile phones */
@media (max-width: 480px) {
  .settings-section {
    width: 95%; /* Use almost full width for very small devices */
  }

  .main-section {
    /* Additional styling adjustments for mobile can be added here */
  }
}
