.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
 
}

.navbar-left {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.navbar-left span {
  margin-right: 10px;
}
.logo-link {
  text-decoration: none;
  color: black;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.new-chat-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
}

.new-chat-button:hover {
  background-color: #0056b3;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
