/* Left-side bar CSS for Desktop */
.sidebar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-sidebar {
  width: 30%;
  padding: 10px;
  background-color: #ffffff;

  height: 100vh;
}

.left-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.left-sidebar li {
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* .left-sidebar li:hover {
  background-color: #e0e0e0;
} */
.left-sidebar li:hover,
.left-sidebar li:active,
.left-sidebar li:focus,
.left-sidebar li.active {
  background-color: #e0e0e0;
}

.icons {
  margin-right: 10px;
  margin-top: 5px;
}

.nested {
  margin-left: 20px;
  font-size: 16px;
}

/* Adjustments for small devices */
@media (max-width: 480px) {
  .sidebar-container {
    flex-direction: column;
  }

  .left-sidebar {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .left-sidebar ul {
    overflow-x: auto;
  }

  .left-sidebar li {
    padding: 10px;
  }

  .nested {
    margin-left: 10px;
    font-size: 14px;
  }
}
